.mockUp{
    margin: 25px;
    margin-top: 50px;
    width: 350px;
    padding: 1px;
    background-color: rgb(219, 219, 219);
}

.imagenesMockUp{
    justify-content: center;
    text-align: center;
}
.logoDisney{
    text-align: center;
    margin-top: 40px;
    width: 260px;
    justify-content: center;
}

.bannerCategorias{
    text-align: center;
}