.logoMarvel{
    text-align: center;
    margin-top: 40px;
    width: 470px;
    justify-content: center;
}
.contenedor2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}