
@media screen and (min-width: 590px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 960px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}
    

@media screen and (min-width: 1100px){
    .container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:780px){
    .masInfo{
        width: 40%;
    }   

}

@media (min-width:1024px){
    .masInfo{
        width: auto;
    }
    
}

.contenedor2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

@media (min-width:768px){
    .contenedor2{
        justify-content: space-between;
    }
}

@media (max-width: 858px){
    .checkbtn{
    display: block;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(255, 255, 255);
      top:80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  
    }
    nav ul li a{
      font-size: 20px;
    }
    li a:hover, li a.active{
      background: none;
      color: black;
    }
  
    .checkbtn:checked ~ ul{
      left: 0;
  
    }
  
    .formulario {
      justify-content: center;
      display: flex;
      width: 80%;
      margin-top: 90px;
      justify-content: center; }
    
    form {
      width: 80%;
      height: 30%;
      padding: 10px;
    
      border-radius: 15px;
      margin-bottom: 100px; }
  
    input, textarea {
        padding: 10px;
        width: 60%;
        margin: 20px;
      }
  
    .videoTaza {
          width: 400px;
          padding: 10px;
          height: 10%;
          margin-left: 15px; }
    h4{
      font-size: 15px;
      }
  
    .carritoC{
      width: 10px;
    }
  
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
  
    .formulario {
      width: 40%;
      margin-top: 90px;
      margin-left: 5px;
      }
    
    form {
      
      width: 60%;
      height: 20%;
      padding: 8px;
      border-radius: 15px;
      margin-bottom: 100px; }
  
      input, textarea {
        padding: 10px;
        width: 60%;
        margin: 20px;
      }
        
        .botonEnviar {
                  padding: 8px;
          width: 30px;
          border-radius: 3px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
          margin: 4px 0px;
          }
  
          h4{
            font-size: 15px;
          }
  }