table{
    list-style:georgian;
}

table, th, td {
    margin: 20px;
    padding: 4px;
    background-color:rgb(255, 255, 204);
    border: 1px solid black;
    border-collapse: collapse;
}

.videoTaza{
    width: 600px;
    padding: 10px;
    height: 10%;
    margin-left: 15px;
}

.pagos{
    width: 80px;
    margin: 5px;
}
